{% load static %}
<nav class="navbar navbar-expand-lg center navbar-dark bg-warning">
     <a class="navbar-brand" href="#">
    <img src="{% static 'images/logob.png' %}" width="90" height="35" alt="">
  </a>
  <a class="navbar-brand" href="#">{{ name }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'donarlog'%}?un={{ name }}" >Home <span class="sr-only">(current)</span></a>
      </li> <pre>  </pre>
      <li class="nav-item active" >
        <a class="nav-link" href="{% url 'donor_profile' %}?un={{ name }}" >View Profile</a>
      </li><pre>  </pre>
      <li class="nav-item active" >
        <a class="nav-link" href="{% url 'donar_update' %}?un={{ name }}">Update Profile</a>
      </li><pre>  </pre>
           <li class="nav-item active">
        <a class="nav-link" href="{% url 'logoutd' %}?un={{ name }}" >Logout</a>
           </li>
    </ul>
  </div>
</nav>