{% extends "common.html" %}
{% block common %}
    {% include "adminmenu.html" %}<br>

    <table align="center"  border="2" id="hi" class="table table-striped table-danger">
        <tr align="center">
            <th width="150" style="color: maroon">Senders</th>
            <th width="300" style="color: maroon">Email</th>
            <th width="300" style="color: maroon">Contact</th>
            <th width="300" style="color: maroon">Messages</th>
        </tr>
           {% for x in data %}
            <tr align="center">
            <td>{{ x.username }}</td>
                <td>{{ x.email }}</td>
                <td>{{ x.contact }}</td>
            <td>{{ x.message}}</td>
            </tr>
            {% endfor %}
        </table>

{% endblock %}